<h6 class="product-title">Nedtælling</h6>
<div class="timer">
    <p id="demo">
      <span>
        <span class="timer-num">{{ days }}</span>
        <span class="padding-l">:</span>
        <span class="timer-cal">Dage</span>
      </span>
      <span>
        <span class="timer-num">{{ hours }}</span>
        <span class="padding-l">:</span>
        <span class="timer-cal">Timer</span>
      </span>
      <span>
        <span class="timer-num">{{ minutes }}</span>
        <span class="padding-l">:</span>
        <span class="timer-cal">Min</span>
      </span>
      <span>
        <span class="timer-num">{{ seconds }}</span>
        <span class="timer-cal">Sek</span>
      </span>
    </p>
</div>