<!-- breadcrumb start -->
<app-breadcrumb [title]="'404 page'" [breadcrumb]="'404 page'" *ngIf="!orderDetails"></app-breadcrumb>
<!-- breadcrumb End -->

<!-- section start -->
<section class="p-0" *ngIf="!orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section">
                    <h1>404</h1>
                    <h2>siden findes ikke</h2>
                    <a [routerLink]="'/'" class="btn btn-solid">til forsiden</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

<!-- thank-you section start -->
<section class="section-b-space light-layout" *ngIf="orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>Tak for din ordre og betaling</h2>
                    <p>Betaling er modtaget, og ordren er bekræftet</p>
                    <p>Transaktion ID:{{ orderDetails.orderId }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

<!-- order-detail section start -->
<section class="section-b-space" *ngIf="orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>Din ordre information</h3>
 
          

                    <div class="row product-order-detail" *ngFor="let product of orderDetails.product">
                        <div class="col-3">
<!--                          <img [src]="product.images[0].src" alt="" class="img-fluid"> -->   
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Produkt</h4>
                                <h5>{{ product.item_name }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Antal</h4>
                                <h5>{{ product.quantity }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Pris</h4>
                                <h5>{{ (product.unit_price_excluding_vat - product.discount_amount_excluding_vat) * 1.25  | currency:productService?.Currency.currency:'symbol':'2.0':'da' }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="total-sec">
                        <ul>
                            <li>Subtotal <span>{{ orderDetails.totalAmount - orderDetails.shippingcost | currency:productService?.Currency.currency:'symbol':'2.0':'da'  }}</span></li>
                            <li>Forsendelse <span>{{ orderDetails.shippingcost | currency:productService?.Currency.currency:'symbol':'2.0':'da'  }}</span></li>
                            <li>Moms <span>{{ orderDetails.totalAmount * 0.25 | currency:productService?.Currency.currency:'symbol':'2.0':'da' }}</span></li>
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3>total <span>{{ orderDetails.totalAmount | currency:productService?.Currency.currency:'symbol':'2.0':'da' }}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>Ordreoversigt</h4>
                        <ul class="order-detail">
                            <li>Ordre ID: {{ orderDetails.orderId }}</li>
                            <li>Ordre Dato: {{ orderDetails.ordercreated | date: 'dd.MM.yyyy':'da'  }}</li>
                            <li>Ordre Total: {{ orderDetails.totalAmount | currency:productService?.Currency.currency:'symbol':'2.0':'da' }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>Modtageradresse</h4>
                        <ul class="order-detail">
                            <li>{{ orderDetails.shippingDetails.firstname }}&nbsp;{{ orderDetails.shippingDetails.lastname }} </li>
                            <li>{{ orderDetails.shippingDetails.address }}</li>
                            <li>{{ orderDetails.shippingDetails.zipcode }} - {{ orderDetails.shippingDetails.town }}</li>
                            <li>{{ orderDetails.shippingDetails.phone }}</li>
                        </ul>
                    </div>

                    <div class="col-md-12 payment-mode">
                
                 
                        <div class="delivery-sec">
                            <h4>Betalingsmetode</h4>
                            <p>Stripe Betaling</p>
                        </div>
                    </div> 
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Section ends -->